<launch>

  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch"/>
  <include file="$(find rtimulib_ros)/launch/rtimulib_ros.launch"/>
	
  <node pkg="rover_nav" type="rover_pose.py" name="rover_pose"/> 
  <node pkg="rover_nav" type="navigation.py" name="navigation"/>
  <node pkg="rover_control" type="cmd_mux.py" name="cmd_mux" />

</launch>
