<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="custom"/> <!-- setting "auto" here will set the origin to the first GPS fix that it recieves -->
    <rosparam param="local_xy_origins">
      [{ name: custom,
         latitude: 45.37833584,
         longitude: -71.9276222,
         altitude: 0.0,
         heading: 0.0}]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />
	
  <node pkg="rover_nav" type="pathMgr.py" name="pathMgr" />
  <node pkg="rover_nav" type="rover_sim.py" name="rover_sim" /> 
  <node pkg="rover_nav" type="navigation.py" name="navigation" />
  <node pkg="rover_control" type="cmd_mux.py" name="cmd_mux" />



</launch>
