<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <xacro:include filename="rover_core.xacro" />    

    <!-- <xacro:if value="$(arg use_ros2_control)"> -->
        <!-- <xacro:include filename="ros2_control.xacro" /> -->
    <!-- </xacro:if> -->
    <!-- <xacro:unless value="$(arg use_ros2_control)"> -->
        <!-- <xacro:include filename="gazebo_control.xacro" /> -->
    <!-- </xacro:unless> -->


</robot>