---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -performance-avoid-endl
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.*'
ExcludeHeaderFilterRegex: '.*(_autogen/|/moc_[^/]*|/mocs_compilation\.cpp|/deps/).*'
FormatStyle: none