<library path="src">
<!-- type=ros package, filename, className -->
  <class name="RoverGuiPLugin" type="rover_gui.rover_gui_plugin.RoverGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      UdeS Rover User Interface
    </description>
    <qtgui>
      <group>
        <label>Robotique UdeS</label>
      </group>

      <label>Rover UI</label>
    </qtgui>
  </class>
</library>
