<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <group ns="$(arg robot_namespace)">

    <!-- Note that rover_simulation/description.launch is already included in rover_control/control.launch. -->
    <include file="$(find rover_control)/launch/control.launch" >
      <arg name="simulation" value="true" />
      <arg name="mini" value="false" />
    </include>

    <!-- Spawn robot in gazebo -->
    <node name="spawn_rover_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

  </group>

</launch>