<?xml version='1.0'?>
<!-- Full rover launch / Base side-->
<launch>
    <arg name="control_allow_toggle_with_button" default="false" />
    <arg name="allow_toggle_with_button" default="false" />
    <arg name="start_as_arm_joy" default="false" />
    <arg name="joy_topic_name" default="joy" />
    <arg name="heartbeat_frequency" default="2" />

    <include file="$(find rover_control)/launch/joy_demux.launch">
        <arg name="start_as_arm_joy" value="$(arg start_as_arm_joy)" />
        <arg name="allow_toggle_with_button" value="$(arg allow_toggle_with_button)" />
    </include>

    <include file="$(find rover_control)/launch/teleop_joystick.launch">
        <arg name="joy_topic_name" value="$(arg joy_topic_name)" />
    </include>

    <node machine="base" pkg="rover_control" name="base_heartbeat" type="base_heartbeat" output="screen">
        <param name="heartbeat_frequency" value="$(arg heartbeat_frequency)" />
    </node>

</launch>
