<launch>
	<!--========================================================================
    Machine header
    =========================================================================-->
    <arg name="local_only" default="false" />
    <include file="$(find rover_control)/launch/machine_config.launch">
        <arg name="local_only" value="$(arg local_only)" />
    </include>

    <!--========================================================================
    Args
    =========================================================================-->
    <arg name="start_as_arm_joy" default="false" />
    <arg name="toggle_arm_joy_btn" default="3" />
    <arg name="allow_toggle_with_button" default="false" />

    <!--========================================================================
    Nodes
    =========================================================================-->
    <node machine="base" pkg="rover_control" name="joy_demux" type="joy_demux.py">
        <param name="start_as_arm_joy" value="$(arg start_as_arm_joy)" />
        <param name="toggle_arm_joy_btn" value="$(arg toggle_arm_joy_btn)" />
        <param name="allow_toggle_with_button" value="$(arg allow_toggle_with_button)" />
    </node>
</launch>
