<?xml version='1.0'?>
<launch>
    <!--========================================================================
    Machine header
    =========================================================================-->
    <arg name="local_only" default="false" />
    <include file="$(find rover_control)/launch/machine_config.launch">
        <arg name="local_only" value="$(arg local_only)" />
    </include>

    <!--========================================================================
    Nodes
    =========================================================================-->
    <node machine="rover" name="dynamixel_interface_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
        <rosparam command="load" file="$(find rover_control)/config/dynamixel.yaml" />
    </node>
</launch>
