<?xml version="1.0"?>

<launch>
    <arg name="local_only" default="true" />
    <include file="$(find rover_control)/launch/machine_config.launch">
        <arg name="local_only" value="$(arg local_only)" />
    </include>

    <!-- Launch socketcan bridge node -->
    <node machine="rover" pkg="socketcan_bridge" name="socketcan_bridge_node" type="socketcan_bridge_node"></node>

    <!-- Launch driver for each motor -->
    <node machine="rover" pkg="ros_talon" name="motor1" type="direct_drive" output="screen">
        <param name="motor_id" value="1" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor2" type="direct_drive" output="screen">
        <param name="motor_id" value="2" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor3" type="direct_drive" output="screen">
        <param name="motor_id" value="3" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor4" type="direct_drive" output="screen">
        <param name="motor_id" value="4" />
    </node>

</launch>
