<?xml version="1.0"?>
<launch>
	<node type="rly_08_node" name="rly_08_node" pkg="rly_08" output="screen">
		<param name="port" value="/dev/ttyACM0" type="string"/>
		<param name="outputs" value="8" type="int"/>
	</node>

    <node type="relay_board.py" name="relay_board" pkg="rover_control"> </node>
</launch>
