<?xml version="1.0"?>

<launch>
	<arg name="relay_board_port" default="/dev/serial/by-id/usb-Devantech_Ltd._USB-RLY16L._00055872-if00" />

	<node type="rly_08_node" name="rly_08_node" pkg="rly_08" output="screen">
		<param name="port" value="$(arg relay_board_port)" />
		<!-- <param name="port"
		value="/dev/serial/by-id/usb-Devantech_Ltd._USB-RLY16L._00055872-if00"
			type="string" /> -->
		<param name="outputs" value="8" type="int" />
	</node>
	
</launch>
