<!-- Full rover launch / Rover side -->
<launch>
    <!-- rover_control -->
    <include file="$(find rover_control)/launch/motor_drivers.launch"/>

    <!-- Launch twist to motor_cmd node, this is also where the watchdog is -->
    <node pkg="rover_control" name="twist2motor_cmd" type="twist2motor_cmd.py" output="screen"/>

    <include file="$(find rover_control)/launch/camera_control.launch"/>

</launch>
