<?xml version='1.0'?>
<!-- Full rover launch / Rover side -->
<launch>
    <arg name="local_only" default="false" />
    <include file="$(find rover_control)/launch/machine_config.launch">
        <arg name="local_only" value="$(arg local_only)" />
    </include>

    <node machine="rover" pkg="rover_control" name="cmd_2_motors" type="cmd_2_motors"
        output="screen">
        <param name="low_pass_115hz_window" value="40" />
        <param name="reverse_FL" value="1" />
        <param name="reverse_FR" value="0" />
        <param name="reverse_RL" value="1" />
        <param name="reverse_RR" value="0" />
        <param name="strength_FL" value="1.0" />
        <param name="strength_FR" value="1.0" />
        <param name="strength_RL" value="1.0" />
        <param name="strength_RR" value="1.0" />
    </node>

    <!-- Relay board -->
    <arg name="relay_board_port"
        default="/dev/serial/by-id/usb-Devantech_Ltd._USB-RLY16L._00055872-if00" />

    <node type="rly_08_node" name="rly_08_node" pkg="rly_08" output="screen">
        <param name="port" value="$(arg relay_board_port)" />
        <param name="outputs" value="8" type="int" />
    </node>

    <!-- Launch driver for each motor -->
    <node machine="rover" pkg="ros_talon" name="motor1" type="direct_drive" output="screen">
        <param name="motor_id" value="1" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor2" type="direct_drive" output="screen">
        <param name="motor_id" value="2" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor3" type="direct_drive" output="screen">
        <param name="motor_id" value="3" />
    </node>
    <node machine="rover" pkg="ros_talon" name="motor4" type="direct_drive" output="screen">
        <param name="motor_id" value="4" />
    </node>

</launch>
