<?xml version="1.0"?>

<launch>

    <arg name="joy" default="true" />
    <arg name="joy_topic_name" default="joy" />
    <arg name="heartbeat_frequency" default = "2" />

    <!-- Launch twist to motor_cmd node -->
    <node pkg="rover_control" name="twist2motor_cmd" type="twist2motor_cmd.py" />

    <!-- Launch Heartbeat -->
    <node pkg="rover_control" name="base_heartbeat" type="base_heartbeat" output="screen">
        <param name="heartbeat_frequency" value="$(arg heartbeat_frequency)" />
    </node>

    <!-- Launch teleop -->
    <!-- NEEDS TO BE LAST FOR THE KEYBOARD NODE WHICH IS INTERACTIVE -->
    <group if="$(arg joy)">
        <include file="$(find rover_control)/launch/teleop_joystick.launch">
            <arg name="joy_topic_name" value="$(arg joy_topic_name)" />
        </include>
    </group>
    <group unless="$(arg joy)">
        <include file="$(find rover_control)/launch/teleop_keyboard.launch"></include>
    </group>

</launch>
