<?xml version="1.0"?>

<launch>

    <arg name="joy_topic_name" default="joy" />
    <arg name="heartbeat_frequency" default = "2" />

    <!-- Launch Heartbeat -->
    <node pkg="rover_control" name="base_heartbeat" type="base_heartbeat" output="screen">
        <param name="heartbeat_frequency" value="$(arg heartbeat_frequency)" />
    </node>

    <!-- Launch teleop -->
    <!-- NEEDS TO BE LAST FOR THE KEYBOARD NODE WHICH IS INTERACTIVE -->
    <include file="$(find rover_control)/launch/teleop_joystick.launch">
        <arg name="joy_topic_name" value="$(arg joy_topic_name)" />
    </include>

</launch>
