<?xml version='1.0'?>
<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="camera" value="d435"/>
    <arg name="publish_tf" value="false"/>
    <arg name="depth_width" value="1280"/>
    <arg name="depth_height" value="720"/>
    <arg name="depth_fps" value="5"/>
    <arg name="enable_depth" value="true"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
    <arg name="color_fps" value="5"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
    <arg name="enable_confidence" value="false"/>
    <arg name="align_depth" value="false"/>
    <arg name="allow_no_texture_points" value="true"/>
    <arg name="filters" value="hdr_merge,spatial,temporal"/>
  </include>
 
</launch>
