<?xml version="1.0" ?>

<launch>

  <arg name="simulation" default="false"/>

  <group unless="$(arg simulation)">
    <!-- Launch socketcan bridge node -->
    <node pkg="socketcan_bridge" name="socketcan_bridge_node" type="socketcan_bridge_node">
    </node>

    <!-- Launch driver for each motor -->
    <node pkg="ros_talon" type="direct_drive1" name="motor1" output="screen">  
      <param name="motor_nb" value="1" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_left" to="cmd_percent" />
    </node>

    <node pkg="ros_talon" type="direct_drive2" name="motor2" output="screen">
      <param name="motor_nb" value="2" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_right" to="cmd_percent" />
    </node> 

    <node pkg="ros_talon" type="direct_drive3" name="motor3" output="screen">
      <param name="motor_nb" value="3" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_left" to="cmd_percent" />
    </node> 

    <node pkg="ros_talon" type="direct_drive4" name="motor4" output="screen">
      <param name="motor_nb" value="4" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_right" to="cmd_percent" />
    </node> 

    <node pkg="ros_talon" type="direct_drive5" name="motor5" output="screen">
      <param name="motor_nb" value="5" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_left" to="cmd_percent" />
    </node> 

    <node pkg="ros_talon" type="direct_drive6" name="motor6" output="screen">
      <param name="motor_nb" value="6" />
      <rosparam file="$(find ros_talon)/config/motor_param.yaml" command="load" />
      <remap from="motor_cmd_right" to="cmd_percent" />
  </group>
</launch>
