<library path="src">
<!-- type=ros package, filename, className -->
  <class name="RoverControllerGuiPlugin" type="rover_controller_gui.rover_controller_gui_plugin.RoverControllerGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      UdeS Rover User Interface
    </description>
    <qtgui>
      <group>
        <label>Robotique UdeS</label>
      </group>
      <label>Rover Controller GUI</label>
    </qtgui>
  </class>
</library>
